<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Internal JS -->
	<script defer src="/scripts/game.js"></script>
	<!-- Internal CSS -->
	<link type="text/css" rel="stylesheet" href="/styles/main.css">
	<title>Codewords</title>
</head>
<body>
	<header>
		<h1>Codewords</h1>
	</header>
	<footer>
		<div class="test-button" id="clear">Clear Board</div>
		<div class="test-button" id="populate">Populate</div>
		<div class="test-button" id="spymaster">Spymaster</div>
	</footer>
	<section id="gameboard"></section>
</body>
</html>