<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Internal JS -->
	<script defer src="/scripts/game.js"></script>
	<!-- Internal CSS -->
	<link type="text/css" rel="stylesheet" href="/styles/main.css">
	<title>Codewords</title>
</head>
<body>
	<header>

		<h1>Codewords</h1>

	</header>

	<section id="gameboard"></section>
	
	<footer>
		<div class="card" id="new">New Board</div>
		<div class="card" id="clear">Empty Div</div>
		<div class="card" id="populate">Populate</div>
		<div class="card" id="spymaster">Spymaster</div>

	</footer>
</body>
</html>