<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/main.css">
	<script defer src="/scripts/main.js"></script>
	<title>Codewords</title>
</head>
<body>
	<header>
		<h3>welcome to</h3>
		<h1>Codewords</h1>
		<h3>a game wholly unrelated to Codenames</h3>		
	</header>

	<div class="menu">
		<h2 class="menu-button" id="newGame">New Game</h2>
		<h2 class="menu-button" id=joinGame>Join Game</h2>
	</div>
	
	<!-- New Game Modal -->
	<section id="newGameModal" class="hidden modal">
		<h3>enter a name.</h3>
		<form>
			<input id="newName" type="text">
		</form>
		<div class="button-div">
			<h3 id="goNew">Go</h3>
		</div>
	</section>
	<!-- Join Game Modal -->
	<section id="joinGameModal" class="hidden modal">
		<h3>enter a name.</h3>
		<form>
			<input id="joinName" type="text">
		</form>
		<div class="button-div">
			<h3 id="goJoin">Go</h3>
		</div>
	</section>

</body>
</html>