<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Internal JS -->
	<script defer src="/scripts/main.js"></script>
	<!-- Internal CSS -->
	<link type="text/css" rel="stylesheet" href="/styles/main.css">
	<title>Codewords</title>
</head>
<body>
	<header>
		<h3>welcome to</h3>
		<h1>Codewords</h1>
		<h3>a game wholly unrelated to Codenames</h3>
	</header>

	<section id="gameboard"></section>
	
	<footer>
		<a id="new" href="#">New Board</a>
		<a id="clear" href="#">Empty Div</a>
		<a id="populate" href="#">Populate from State.cards</a>

	</footer>
</body>
</html>